
.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #e42121; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}


.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.box {
  flex: 1;
  min-width: 280px;
  max-width: 45%;
  padding: 20px;
  border: 1px solid #a7a6a6;
  border-radius: 8px;
  background-color: #edcccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #e42121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #e42121;
}

p {
  font-size: 14px;
  color: #000000;
  margin-top: 20px;
  font-weight: bold;
}
